* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.wrapper {
  padding: 20px 200px;
}

.header {
  background-color: white;
}

.nav img {
  width: 200px;
  height: 100px;
}

.nav {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
}

.nav ul {
  display: flex;
  justify-content: space-around;
}

.header-links {
  width: 35%;
}

.section-1 {
  background-color: #1f2937;
  color: #f9faf8;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 100px;
}

.section-1-content {
  width: 50%;
}

.section-1-content h3 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.section-1-content p {
  font-size: 18px;
  color: #e5e7eb;
}

.section-1-image img {
  border-radius: 5px;
  width: 500px;
  height: 300px;
  image-orientation: from-image;
}

a {
  text-decoration: none;
}

.btn {
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #3882f6;
  font-size: 24px;
}

.btn a {
  color: #e5e7eb;
}

.section-2 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
}

li {
  display: inline-block;
}

.section-2 ul {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
}

.section-2-cube {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.section-2-cube p {
  margin-top: 15px;
  width: 70%;
}

.section-2-cube img {
  width: 70%;
}

.section-3 {
  background-color: #e5e7eb;
}

.section-3 p {
  color: #1f2937;
  font-size: 36px;
}

.quotation {
  margin: 100px 40px;
  position: relative;
}

.section-4-content {
  display: flex;
  background-color: #3882f6;
  border-radius: 5px;
  color: #e5e7eb;
  padding: 60px 50px;
  justify-content: space-around;
  margin: 50px 0;
}
.section-4-content-text {
  width: 70%;
}

.section-4-content .btn {
  margin-right: 50px;
  border: solid;
  border-color: #e5e7eb;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 50px 0;
  font-size: 18px;
}

.footer li {
  margin: 0 30px;
}

.thor {
  position: absolute;
  right: 0;
}

#img1 {
  width: 412px;
}
